* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  /* background-color: bisque; */
  width: 80vw;
  height: 20vh;
  margin: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  justify-content: center;
}
.img-container {
  /* background-color: #c4cbff; */
  width: 200px;
  /* border-radius: 20px; */
}
img {
  /* object-fit: cover; */
  border-radius: 20px;
}
.post-container {
  /* background-color: #a16f31; */
  width: 286px;

  padding-top: 15px;
  padding-bottom: 15px;
}
